@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color Styles */
.text-primary {
  @apply text-primary-light dark:text-primary-dark;
}
.text-secondary {
  @apply text-secondary-light dark:text-secondary-dark;
}
.text-onSurface {
  @apply text-onSurface-light dark:text-onSurface-dark;
}

.label-md {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.label-lg {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.display-xl {
  font-weight: 700;
  font-size: 2.25rem;
}

.display-lg {
  font-weight: 700;
  font-size: 2rem;
}

.body-lg {
  font-weight: 500;
  font-size: 1.125rem;
}

.title-sm {
  font-weight: 600;
  font-size: 1.125rem;
}
